In [ ]:
import pandas as pd

In [6]:
file = "incubator.xlsx"
df = pd.read_excel(file)

In [7]:
df

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),DateAdded,HatchRate(%)
0,Manuel Chapman Jr.,+263 737 070 090,geniue fowl,56,0.3,16.80,2018-06-05,83.3
1,Mary Morgan,0712 474 894,turkey,88,0.4,35.20,2018-05-17,86.5
2,Michelle Gutierrez,0771 690 526,broiler,411,0.2,82.20,2018-05-24,76.1
3,William Hernandez,0775172685,duck,156,0.5,78.00,2018-06-07,83.7
4,Blake Trevino,+263 715 379 507,turkey,157,0.4,62.80,2018-01-25,80.2
5,Greg Thomas,+263 736 376 681,turkey,9,0.4,3.60,2018-04-08,52.8
6,James Fletcher,+263 772 39 4032,broiler,462,0.2,92.40,2018-05-06,83.2
7,Jonathan Moore,+263 737 904 310,geniue fowl,201,0.3,60.30,2018-03-21,54.3
8,David Patterson,+263 736 547 696,broiler,287,0.2,57.40,2018-05-15,82.1
9,Hannah Hernandez,+263 736 691 539,road runner,80,0.1,8.00,2018-06-20,72.5
10,Jamie Brown,0733 512 376,broiler,170,0.2,34.00,2018-01-09,71.5
11,Shawna Reed,+263 719 997 962,turkey,317,0.4,126.80,2018-02-13,64.3
12,Christopher Knight,0735 527 693,geniue fowl,73,0.3,21.90,2018-06-20,69.6
13,Michelle Alvarado,0773564147,turkey,391,0.4,156.40,2018-06-11,61.5
14,Nina Bray,0738025658,broiler,176,0.2,35.20,2018-04-07,70.0
15,Chad Perez,0771912470,broiler,422,0.2,84.40,2018-04-13,67.5
16,Ashley Gaines,0718 309 419,duck,319,0.5,159.50,2018-03-22,86.5
17,Gary Santana,+263 733 949 344,geniue fowl,453,0.3,135.90,2018-03-04,71.2
18,Dylan Short,0718932006,geniue fowl,74,0.3,22.20,2018-02-19,81.7
19,Scott Simmons,+263 736 332 811,geniue fowl,63,0.3,18.90,2018-03-17,66.3
20,Mark Hill,0736 698 044,duck,148,0.5,74.00,2018-06-28,56.4
21,Destiny Ho,+263 710 206 068,road runner,299,0.1,29.90,2018-06-23,58.3
22,Dr. Kelly Ray,0717 064 105,road runner,106,0.1,10.60,2018-06-15,76.7
23,Jared Rangel,0770 636 451,duck,475,0.5,237.50,2018-02-01,85.1
24,Joseph Russell,0712 567 391,turkey,465,0.4,186.00,2018-07-04,68.9
25,George Lee,0775139057,road runner,207,0.1,20.70,2018-01-06,78.3
26,Kayla Lopez,+263 777 80 0015,broiler,219,0.2,43.80,2018-06-17,67.8
27,Richard Alexander,0737680090,geniue fowl,372,0.3,111.60,2018-06-23,54.7
28,Catherine Anderson,0739 098 157,road runner,409,0.1,40.90,2018-03-22,88.6
29,Joshua Glover,0717 999 661,broiler,151,0.2,30.23,2018-01-16,71.2
30,Dean Dickson,0738 685 971,road runner,461,0.1,46.10,2018-04-25,76.9
31,Bruce Church,0733039105,duck,447,0.5,223.50,2018-04-11,52.4
32,Jennifer Simmons DVM,+263 773 72 0319,broiler,238,0.2,47.60,2018-04-19,75.0
33,Brittany Nelson,+263 710 304 963,duck,270,0.5,135.00,2018-05-15,56.1
34,Kelly Williams MD,0774194602,geniue fowl,133,0.3,39.90,2018-03-25,88.5
35,Michelle Greene,+263 772 830 576,broiler,346,0.2,69.20,2018-06-19,58.6
36,Ronald Hughes,+263 711 662 250,duck,176,0.5,88.00,2018-02-14,50.1
37,Gabriela Ramirez,0737 217 419,geniue fowl,362,0.3,108.60,2018-07-05,87.9
38,Joe Mitchell,0710 817 548,duck,201,0.5,100.50,2018-05-27,58.2
39,Joseph Wang,0772 854 625,turkey,430,0.4,172.00,2018-05-30,60.4

In [9]:
df['HatchRate(%)'].mean() # get average hatchRate of over the year of our incubator

70.87249999999999

In [10]:
df.describe()  # get overall statistics

       NumberOfEggs  PricePerEgg($)  TotalPrice($)  HatchRate(%)
count      40.00000        40.00000      40.000000     40.000000
mean      257.00000         0.30250      77.688250     70.872500
std       142.58259         0.13679      60.079677     11.768406
min         9.00000         0.10000       3.600000     50.100000
25%       150.25000         0.20000      33.057500     59.950000
50%       228.50000         0.30000      61.550000     71.200000
75%       395.50000         0.40000     109.350000     81.800000
max       475.00000         0.50000     237.500000     88.600000

In [20]:
df.sort_values('DateAdded')  # sort data by date

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),DateAdded,HatchRate(%)
25,George Lee,0775139057,road runner,207,0.1,20.70,2018-01-06,78.3
10,Jamie Brown,0733 512 376,broiler,170,0.2,34.00,2018-01-09,71.5
29,Joshua Glover,0717 999 661,broiler,151,0.2,30.23,2018-01-16,71.2
4,Blake Trevino,+263 715 379 507,turkey,157,0.4,62.80,2018-01-25,80.2
23,Jared Rangel,0770 636 451,duck,475,0.5,237.50,2018-02-01,85.1
11,Shawna Reed,+263 719 997 962,turkey,317,0.4,126.80,2018-02-13,64.3
36,Ronald Hughes,+263 711 662 250,duck,176,0.5,88.00,2018-02-14,50.1
18,Dylan Short,0718932006,geniue fowl,74,0.3,22.20,2018-02-19,81.7
17,Gary Santana,+263 733 949 344,geniue fowl,453,0.3,135.90,2018-03-04,71.2
19,Scott Simmons,+263 736 332 811,geniue fowl,63,0.3,18.90,2018-03-17,66.3
7,Jonathan Moore,+263 737 904 310,geniue fowl,201,0.3,60.30,2018-03-21,54.3
28,Catherine Anderson,0739 098 157,road runner,409,0.1,40.90,2018-03-22,88.6
16,Ashley Gaines,0718 309 419,duck,319,0.5,159.50,2018-03-22,86.5
34,Kelly Williams MD,0774194602,geniue fowl,133,0.3,39.90,2018-03-25,88.5
14,Nina Bray,0738025658,broiler,176,0.2,35.20,2018-04-07,70.0
5,Greg Thomas,+263 736 376 681,turkey,9,0.4,3.60,2018-04-08,52.8
31,Bruce Church,0733039105,duck,447,0.5,223.50,2018-04-11,52.4
15,Chad Perez,0771912470,broiler,422,0.2,84.40,2018-04-13,67.5
32,Jennifer Simmons DVM,+263 773 72 0319,broiler,238,0.2,47.60,2018-04-19,75.0
30,Dean Dickson,0738 685 971,road runner,461,0.1,46.10,2018-04-25,76.9
6,James Fletcher,+263 772 39 4032,broiler,462,0.2,92.40,2018-05-06,83.2
8,David Patterson,+263 736 547 696,broiler,287,0.2,57.40,2018-05-15,82.1
33,Brittany Nelson,+263 710 304 963,duck,270,0.5,135.00,2018-05-15,56.1
1,Mary Morgan,0712 474 894,turkey,88,0.4,35.20,2018-05-17,86.5
2,Michelle Gutierrez,0771 690 526,broiler,411,0.2,82.20,2018-05-24,76.1
38,Joe Mitchell,0710 817 548,duck,201,0.5,100.50,2018-05-27,58.2
39,Joseph Wang,0772 854 625,turkey,430,0.4,172.00,2018-05-30,60.4
0,Manuel Chapman Jr.,+263 737 070 090,geniue fowl,56,0.3,16.80,2018-06-05,83.3
3,William Hernandez,0775172685,duck,156,0.5,78.00,2018-06-07,83.7
13,Michelle Alvarado,0773564147,turkey,391,0.4,156.40,2018-06-11,61.5
22,Dr. Kelly Ray,0717 064 105,road runner,106,0.1,10.60,2018-06-15,76.7
26,Kayla Lopez,+263 777 80 0015,broiler,219,0.2,43.80,2018-06-17,67.8
35,Michelle Greene,+263 772 830 576,broiler,346,0.2,69.20,2018-06-19,58.6
12,Christopher Knight,0735 527 693,geniue fowl,73,0.3,21.90,2018-06-20,69.6
9,Hannah Hernandez,+263 736 691 539,road runner,80,0.1,8.00,2018-06-20,72.5
27,Richard Alexander,0737680090,geniue fowl,372,0.3,111.60,2018-06-23,54.7
21,Destiny Ho,+263 710 206 068,road runner,299,0.1,29.90,2018-06-23,58.3
20,Mark Hill,0736 698 044,duck,148,0.5,74.00,2018-06-28,56.4
24,Joseph Russell,0712 567 391,turkey,465,0.4,186.00,2018-07-04,68.9
37,Gabriela Ramirez,0737 217 419,geniue fowl,362,0.3,108.60,2018-07-05,87.9